
body {
    font: 14px "cCentury Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}


.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.game-info {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.move-button {
    width: 200px;
    background-color: #27AE60;
    border-width: 0px;
    border-radius: 5px;
    color: #FFF;
    font-weight: 200;
    margin-bottom: 10px;
    padding: 10px 20px; /*10px 위아래 간격 좌우 간격 20 px*/
    text-decoration: none;

}
